

h1 {
    text-align: center;
    color: bisque;
    font-family: cursive;
}

body {
    background-image: url(https://cdn.hipwallpaper.com/i/30/95/68XAet.jpg);
}
 p {
    text-align: center;
    color: aliceblue;
    font-family: cursive;
}
h2 {
    text-align: center;
    color: burlywood;
    font-family: monospace;
}
ul {
    list-style: none;
    text-align: center;
    color: aliceblue;
    font-family: cursive;
    list-style: none;
}
ol {
    
    text-align: center;
    color: rgb(233, 224, 224);
    font-family: cursive;
    font-size: large;
}

